node_modules/
dist
*.log

.ftppass
composer.phar
vendor

tests/integration/schema-errors/*
secure-credentials.json

.github.env
coverage

step-summary.md
cdk.out
template.json

remote-crank/localdata/**/*.json
remote-crank/outputs/**/*.png
remote-crank/outputs/**/*.jpg